<%-include("header")-%>


<div class="card" style="margin: 2% 8%;">
    <div class="card-body">
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
              <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
              <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="card mb-3" style="border:none;">
                  <div class="row g-0">
                    <div class="col-md-5">
                      <img src="/images/dasara.jpg" alt="dasara" height="400px" width="450px">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <p class="card-text"><small class="text-muted">Festival</small></p>
                        <h5 class="card-title" style="padding-top: 0;">Dasara</h5>
                        <p class="card-text">Referred to as the cultural capital of Karnataka, Mysore is well known for the festivities that take place during the period of Dasara; the state festival of Karnataka. The Dasara festivities, which are celebrated over a ten-day period, were first introduced by King Raja Wodeyar I in 1610.[88] On the ninth day of Dasara, called Mahanavami, the royal sword is worshipped and is taken on a procession of decorated elephants, camels and horses. On the tenth day, called Vijayadashami, the traditional Dasara procession (locally known as Jumboo Savari) is held on the streets of Mysore which usually falls in the month of September or October. The idol of the Goddess Chamundeshwari is placed on a golden mantapa on the back of a decorated elephant and taken on a procession, accompanied by tabla, dance groups, music bands, decorated elephants, horses and camels.</p>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card mb-3" style="border:none;">
                  <div class="row g-0">
                    <div class="col-md-5">
                      <img src="/images/mysore-saree.jpg" alt="..." height="400px" width="450px">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <p class="card-text"><small class="text-muted">Fashion</small></p>
                        <h5 class="card-title"style="padding-top: 0;" >Mysore Silk Saree</h5>
                        <p class="card-text">Mysore silk is produced by the Karnataka Silk Industries Corporation Limited (KSIC). The factory was founded in 1912 by Sri Nalvadi Krishnaraja Wodeyar, the Maharaja of Mysore. Initially, the silk fabrics were manufactured & supplied to meet the requirements of the royal family and ornamental fabrics to their armed forces. After India gained independence, the Mysore State Sericulture Dept. took control of the silk weaving factory. In 1980, the factory was handed over to KSIC, a government of Karnataka industry.[5] Today, products include silk sarees, shirts, kurta's, silk dhoti, and neckties. Mysore silk has also received geographical identification</p>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="card mb-3" style="border:none;">
                  <div class="row g-0">
                    <div class="col-md-5">
                      <img src="/images/mysore-paint.jpg" alt="painting" height="400px" width="450px">
                    </div>
                    <div class="col-md-6">
                      <div class="card-body">
                        <p class="card-text"><small class="text-muted">Art</small></p>
                        <h5 class="card-title"style="padding-top: 0;">Mysore Painting</h5>
                        <p class="card-text">The traditional form of painting called as Mysore painting is an offshoot of the Vijayanagar school of Painting. With the fall of the Vijayanagar empire, the artists who were involved in the Vijayanagar Paintings were rendered jobless. The Wodeyar king, Raja Wodeyar (1578–1617 CE) rehabilitated these artists in Srirangapatna and under his patronage, a new form of painting called as Mysore painting evolved. These artists employed by the king made use of locally available materials to do the paintings. Squirell hair was used as a brush by tying the hair with a silken thread and inserting them into the narrow end of a quill. </p>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
          </div>
    </div>
  </div>



<%-include("footer")-%>