<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mysuru-Destinations</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="icon" href="images/logo.png" type="image/gif" sizes="16x16">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="destinations.css">
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="images/logo.png" alt="Logo" height="40px" width="40px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Explore Mysuru
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/destination">Destination</a></li>
                            <li><a class="dropdown-item" href="/food">Food</a></li>
                            <li><a class="dropdown-item" href="/accom">Accommodation</a></li>
                            <li><a class="dropdown-item" href="/culture">Culture</a></li>
                            <li><a class="dropdown-item" href="/thingstodo">Things to do</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/transport">Transportation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- top destinations -->
    <h1>Top Destinations</h1>
    <div class="topdes">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="images/mysurupalace.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mysore Palace</h5>
                        <a class="btn btn-success btn-lg btn-block" href="https://youtu.be/4BPHj3k76C4">Explore in
                            VR</a>
                        <a class="btn btn-success btn-lg btn-block" href="/places/mysore-palace">Know More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/brindavan.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Brindavan Gardens</h5>
                        <a class="btn btn-success btn-lg btn-block" href="https://youtu.be/qZciw_MaJ1s">Explore in
                            VR</a>
                        <a class="btn btn-success btn-lg btn-block" href="/places/mysore-palace">Know More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/C7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Sri Chamundeshwari Temple</h5>
                        <button class="btn btn-success btn-lg btn-block" href="https://youtu.be/njZfd0pfANA">Explore in
                            VR</button>
                        <a class="btn btn-success btn-lg btn-block" href="/places/mysore-palace">Know More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/mysuruzoo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Shri Chamarajendra Zoological Park</h5>
                        <a class="btn btn-success btn-lg btn-block" href="https://youtu.be/cfQKRRYfpaY">Explore in
                            VR</a>
                        <a class="btn btn-success btn-lg btn-block" href="/places/mysore-palace">Know More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/St-Philomena's-Church-Mysore.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">St. Philomena's Cathedral</h5>
                        <a class="btn btn-success btn-lg btn-block" href="/places/mysore-palace">Know More</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="images/kishkindha-molika-bonsai.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Kishkindha Molika Bonsai Garden</h5>
                        <a class="btn btn-success btn-lg btn-block" href="https://youtu.be/ksZyfso-jXA">Explore in VR</a>
                        <a class="btn btn-success btn-lg btn-block" href="/places/mysore-palace">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="category">
        <h1>Explore More Places</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col md-3">
                <div class="card bg-dark text-white">
                    <img src="images/C2.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col md-3">
                <div class="card bg-dark text-white">
                    <img src="images/C2.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="app.js"></script>
</body>

</html>