<%- include("header") -%>


    <div style="text-align: center;">
        <h2 style="margin:2% 0;padding-top: 2%;">Mysuru Food</h2>
    </div>
    <div class="desc-food" style="margin-left: 10%;margin-right: 10%;">
        <p style="font-size: large;">Like most cities in the South of India, the people of Mysore take their dosas,
            idlis, and vadas very seriously. While there are many variations to these dishes, Mysore cuisine is deeply
            influenced by the Udipi style. But it isn’t all borrowed either.

            You’ve got the rich and wonderful Mysore Pak that, of course, originated here; you’ll also get some of the
            best versions of Karnataka’s bisibelebath here.
            Let's experience mysuru food virtually!</p>
    </div>
    <div class="food-items" style="margin:5% 12%;">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <a href="/food-item/Mysore Pak">
                    <div class="card h-100">
                        <img src="images/mysore-pak.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title food-title">Mysore Pak</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/food-item/Idli">
                    <div class="card h-100">
                        <img src="images/idli.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title food-title">Idli</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/food-item/Vada">
                    <div class="card h-100">
                        <img src="images/vada.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title food-title">Vada</h5>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/food-item/Bonda">
                    <div class="card h-100">
                        <img src="images/bonda.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title food-title"> Bonda</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/food-item/Khara Bath">
                    <div class="card h-100">
                        <img src="images/Khara Bath.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title food-title">Khara Bath</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/food-item/Uttapam">
                    <div class="card h-100">
                        <img src="images/Uttapam.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title food-title">Uttapam</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/food-item/Poori Saagu">
                    <div class="card h-100">
                        <img src="images/Poori Sagu.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title food-title"> Poori Saagu</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/food-item/Shavige Bath">
                    <div class="card h-100">
                        <img src="images/Shavige-Uppittu.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title food-title"> Shavige Bath</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/food-item/Payasam">
                    <div class="card h-100">
                        <img src="images/Payasam.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title food-title"> Payasam</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>





    <%-include("footer")-%>