<%- include("header") -%>

<div class="row">

    <div class="col-md-7 info">
        <h1><%=place.name%></h1>
        <p class="placepara"><%=place.info%></p>
        <iframe
            src="<%=place.map%>"
            width="750" height="250" frameborder="5" style="border-radius:20px; margin-left: 5%;" allowfullscreen=""
            aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="col-md-4 placeimg">
        <img src="/images/blobpalace.png" alt="palace">

    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>

</html>