<%-include("header")-%>

    <div class="reach">
        <h1 style="padding-top: 2%;">How to Reach</h1>
        <ul class="reachtype">
            <li class="reachitem"><a href="https://www.irctc.co.in/nget/train-search" target="_blank"><img
                        class="reachicon" src="/images/trainlogo.svg" alt="trainlogo">By Train</a></li>
            <li class="reachitem"><a href="https://ksrtc.in/oprs-web/" target="_blank"><img class="reachicon"
                        src="/images/buslogo.svg" alt="Buslogo">By Bus</a></li>
            <li class="reachitem"><a
                    href="https://www.google.co.in/maps/dir//Mysuru,+Karnataka/@12.2958082,76.6043609,13z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x3baf70381d572ef9:0x2b89ece8c0f8396d!2m2!1d76.6393805!2d12.2958104!3e0"
                    target="_blank"><img class="reachicon" src="/images/carlogo.svg" alt="carlogo">By Car</a></li>
            <li class="reachitem"><a href="/flight" target="_blank"><img class="reachicon" src="/images/planelogo.svg"
                        alt="flightlogo">By Air</a></li>
        </ul>
    </div>

    <div class="within">
        <h1>The Local Heroes</h1>
        <h6>The best way to travel within a city you ask? </h6>
        <p>Make way for the local Cab / Auto drivers. They know the city like no one else and they provide you the best
            rates.</p>

    </div>

    <%-include("footer")-%>