body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    font-size: 1.1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link {
    margin-left: 20px;
}

.nav-link {
    font-weight: 500;
    color: black !important;
    font-family: "Roboto Mono", monospace;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.navbar-brand {
    font-family: "Righteous", cursive;
    font-size: 1.5rem;
    margin-left: 2%;
    background: -webkit-linear-gradient(120deg, #f58025, #db0962);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
}

.navbar-nav {
    margin-left: auto;
}

.dropdown-menu {
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.5) !important;
    font-family: "Roboto Mono", monospace;
    border-radius: 10px;
    margin-left: 20px;
}

.home {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.home-carousal {
    position: relative;
    height: auto;
}

.carousel .item {
    height: 45vw;
}

.img-text {
    position: absolute;
    top: 50px;
    left: 50px;
}

@media screen and (max-width: 800px) {
    .carousel .item {
        height: 500px;
    }
}

@media screen and (max-width: 500px) {
    .carousel .item {
        height: 400px;
    }
}

@media screen and (max-width: 400px) {
    .carousel .item {
        height: 350px;
    }
}

@media screen and (max-width: 800px) {
    .carousel .item {
        height: 500px;
    }
}

@media screen and (max-width: 500px) {
    .carousel .item {
        height: 400px;
    }
}

@media screen and (max-width: 400px) {
    .carousel .item {
        height: 350px;
    }
}