body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    font-size: 1.1rem;
    padding-top: 0;
    padding-bottom: 0;
    transition: .5s;
}

.nav-link {
    font-weight: 500;
    color: black !important;
    font-family: "Roboto Mono", monospace;
    margin-left: 20px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.navbar-brand {
    font-family: "Righteous", cursive;
    font-size: 1.5rem;
    margin-left: 2%;
    background: -webkit-linear-gradient(120deg, #f58025, #db0962);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.5);
}

.navbar-nav {
    margin-left: auto;
}

nav.scrolled {
    background: #070D59 !important;
}

.nav-link.scrolled {
    color: white!important;
}

.dropdown-menu {
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.5) !important;
    font-family: "Roboto Mono", monospace;
    border-radius: 10px;
    margin-left: 20px;
}

.dropdown-menu.scrolled {
    background-color: #070d59!important;
}

.dropdown-item.scrolled {
    color: white!important;
}

.dropdown-item.scrolled:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.degree.scrolled {
    color: white;
}

.home {
    position: relative;
    top: -50px;
    width: 100%;
    height: 100%;
}

.home-carousal {
    position: relative;
    height: auto;
}

.carousel .item {
    height: 45vw;
}

.img-text {
    position: absolute;
    top: 50px;
    left: 50px;
}

@media screen and (max-width: 800px) {
    .carousel .item {
        height: 500px;
    }
}

@media screen and (max-width: 500px) {
    .carousel .item {
        height: 400px;
    }
}

@media screen and (max-width: 400px) {
    .carousel .item {
        height: 350px;
    }
}

@media screen and (max-width: 800px) {
    .carousel .item {
        height: 500px;
    }
}

@media screen and (max-width: 500px) {
    .carousel .item {
        height: 400px;
    }
}

@media screen and (max-width: 400px) {
    .carousel .item {
        height: 350px;
    }
}

h1::selection {
    background: #db0962;
    color: white;
}

h2::selection {
    background: #db0962;
    color: white;
}

h3::selection {
    background: #db0962;
    color: white;
}

h4::selection {
    background: #db0962;
    color: white;
}

h5::selection {
    background: #db0962;
    color: white;
}

h6::selection {
    background: #db0962;
    color: white;
}

p::selection {
    background: #db0962;
    color: white;
}

a::selection {
    background: #db0962 !important;
    color: white !important;
}

a {
    text-decoration: none;
}

.contact {
    text-align: center;
    padding: 0;
}

.insta {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    padding: 2%;
}

footer {
    background-color: #070D59;
    color: white;
}

.image {
    width: 25px;
    height: 25px;
}

.imagebig {
    width: 35px;
    height: 35px;
}

.footer-logo {
    width: 250px;
    height: 250px;
}
.footer-footer{
    padding-bottom: 0 !important;
}
.modals{
    
}